@charset "UTF-8";

/*
    em HTML é id = em CSS é # 
        dentro de um mesmo documento HTML, só pode existir um único id com o mesmo nome
    em HTML é class = em CSS é .
        quando precisar que 2 elementos tenha a mesma configuração, usa class
        a principal sobrepõe, depois o id, depois o class
*/
body {
    background-color: rgb(72, 110, 22)
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(0, 19, 19)
}

h1#principal {
    text-align: center;
    background-color: rgb(8, 92, 92)
}

h1.destaque {
    background-color: rgba(160, 160, 37, 0.37);
}

h2 {
    color: rgb(4, 177, 177);
}

h2.basico {
    color: rgb(7, 221, 221);
    font-weight: bold;
}

h2.intermediario {
    color: rgb(3, 121, 121);
}

h2.avancado {
    color: rgb(6, 85, 85);
}

